<div class="word">
	<h1>{{ data.title }} <span class="availabiliy">{{ data.available }}</span></h1>
	<p class="meaning"><strong>{{data.meaning}}</strong></p>
	<p>{{data.example}}</p>
	<div class="links">
		<a class="buy-link" target="_blank" data-id="{{data.id}}" href="https://www.namecheap.com/domains/registration/results.aspx?domain={{data.title}}&affId=119718">Buy on namecheap.com</a>
		<a class="next-link" data-id="{{data.id}}" href="#">Next</a>
	</div>

</div>
