<div class="word">
	<h1>{{ data.title }} <span class="availabiliy">{{ data.available }}</span></h1>
	<p class="meaning"><strong>{{data.meaning}}</strong><span> – via <a target="_blank" href="http://urbandictionary.com">Urban Dictionary</a></span></p>
	<div class="links">
		<a class="buy-link" target="_blank" href="https://www.namecheap.com/domains/registration/results.aspx?domain={{data.title}}&affId=119718">Buy on namecheap.com</a>
		<a class="next-link" data-count="{{data.count}}" href="#">Next</a>
	</div>
</div>
