.word {
	h1 {
		font-size: 4.8rem;
	}
	.meaning {
		font-size: 2.6rem;
	}

	.links {
		margin-top: 4rem;
		display: flex;
		justify-content: space-around;
	}

	.next-link,
	.buy-link {
		padding: 10px 20px;
		background-color: black;
		color: white;
		font-size: 2.2rem;
		font-weight: bold;
	}

	.buy-link {
		background-color: gray;
	}

	.copy {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 3rem;
		text-align: center;

		text-align: center;
		font-size: 1.4rem;
		color: gray;

		@include mobile {
			flex-direction: column;
		}

		p {
			font-size: 1.4rem;
			width: 100%;
		}

		.copy-url {
			border: none;
			outline: none;
			color: black;
		}

		.copy-button {
			border: none;
			font-weight: bold;
			color: white;
			background-color: gray;
			text-decoration: underline;

			margin: 0 0 0 2rem;
			padding: 5px 10px;

			@include mobile {
				margin: 2rem 0 0 0;
				width: 200px;
			}
		}

		.copied {
			display: none;
		}
	}
}
