{% extends "master.njk" %}

{% block content %}

<p>Relevant Domains scrapes <a href="http://urbandictionary.com" target="_blank">Urban Dictionary</a> for the latest relevant crap and generates .com domains. They are marked as taken, available or for sale based on <a href="https://domainr.build" target="_blank">Domainr's API</a>.</p>

<p>Built by <a href="http://twitter.com/absentees" target="_blank">@absentees</a></p>

{% endblock %}
