{% extends "master.njk" %}

{% block content %}
	{% set first = collections.sites | first %}

	<div class="word">
		<h1>{{ first.data.title }} <span class="availabiliy">{{ first.data.available }}</span></h1>
		<p class="meaning"><strong>{{first.data.meaning}}</strong> – via <a target="_blank" href="http://urbandictionary.com">Urban Dictionary</a></span></p>
		<div class="links">
			<a class="buy-link" target="_blank" data-id="{{first.data.id}}" href="https://www.namecheap.com/domains/registration/results.aspx?domain={{first.data.title}}&affId=119718">Buy on namecheap.com</a>
			<a class="next-link" data-count="{{first.data.count}}" href="#">Next Domain</a>
		</div>

		<div class="copy">
			<p>Share this page:</p>
			<input class="copy-url" value="">

			<button class="copy-button" data-clipboard-target=".copy-url">
				Copy to clipboard
			</button>

			<p class="copied">Copied</p>
		</div>
	</div>
{% endblock %}
